body {
  background-color: #e0ece4;
}
hr {
  border-color: grey;
  border-style: none;
  border-top-style: dotted;
  /* border-height : 0px; */
  border-width: 5px;
  width: 10%;
}
h1{
  color: #66BFBF;
}
h3{
  color: #132743;
}
a:link{
  color: #fccbcb;
}
